Repository VocaDB/vocadb, pull requests merged in 2021-10, with the labels that each got.

#972 Create usePageTracking and useRouteParamsTracking
  VocaDbModel/Utils/AppConfig.cs
  VocaDbWeb/Models/Shared/GlobalValues.cs
  VocaDbWeb/Scripts/App.tsx
  VocaDbWeb/Scripts/Components/Admin/AdminIndex.tsx
  VocaDbWeb/Scripts/Components/Discussion/DiscussionFolders.tsx
  VocaDbWeb/Scripts/Components/Discussion/DiscussionIndex.tsx
  VocaDbWeb/Scripts/Components/Discussion/DiscussionRoutes.tsx
  VocaDbWeb/Scripts/Components/Discussion/DiscussionTopics.tsx
  VocaDbWeb/Scripts/Components/Discussion/Partials/ViewTopic.tsx
  VocaDbWeb/Scripts/Components/Search/SearchIndex.tsx
  VocaDbWeb/Scripts/Components/Shared/Layout.tsx
  VocaDbWeb/Scripts/Components/SongList/SongListFeatured.tsx
  VocaDbWeb/Scripts/Components/Stats/StatsIndex.tsx
  VocaDbWeb/Scripts/Components/User/UserIndex.tsx
  VocaDbWeb/Scripts/Components/usePageTracking.ts
  VocaDbWeb/Scripts/Components/useRouteParamsTracking.ts
  VocaDbWeb/Scripts/Components/useStoreWithPaging.ts
  VocaDbWeb/Scripts/Components/useStoreWithUpdateResults.ts
  VocaDbWeb/Scripts/Components/useVocaDbTitle.ts
  VocaDbWeb/Scripts/Shared/GlobalValues.ts
  VocaDbWeb/Views/React/Index.cshtml
  VocaDbWeb/package-lock.json
  VocaDbWeb/package.json
Labels: documentation, seo

#893 Include albums whose release dates only specified by year/month in sorted queries
  Tests/DatabaseTests/TestDatabase.cs
  Tests/Service/AlbumForUserQueryableExtensionsTests.cs
  Tests/Service/AlbumQueryableExtensionsTests.cs
  VocaDbModel/Domain/Albums/AlbumRelease.cs
  VocaDbModel/Service/AlbumService.cs
  VocaDbModel/Service/QueryableExtensions/AlbumForUserQueryableExtensions.cs
  VocaDbModel/Service/QueryableExtensions/AlbumQueryableExtensions.cs
  VocaDbModel/Service/Search/AlbumSearch/AlbumSearchSort.cs
  VocaDbWeb/Views/Shared/Partials/PV/_EmbedBili.cshtml
Labels: search, albums, backend

#975 Convert song rankings to React
  VocaDbModel/Service/BrandableStrings/Collections/ResStringCollection.cs
  VocaDbModel/Service/BrandableStrings/Collections/SongStrings.cs
  VocaDbWeb/Controllers/SongController.cs
  VocaDbWeb/Models/Shared/GlobalValues.cs
  VocaDbWeb/Scripts/App.tsx
  VocaDbWeb/Scripts/Components/Shared/Layout.tsx
  VocaDbWeb/Scripts/Components/Shared/Partials/MainNavigationItems.tsx
  VocaDbWeb/Scripts/Components/Song/SongRankings.tsx
  VocaDbWeb/Scripts/Components/Song/SongRoutes.tsx
  VocaDbWeb/Scripts/Shared/GlobalValues.ts
  VocaDbWeb/Scripts/Stores/Song/RankingsRouteParams.schema.json
  VocaDbWeb/Scripts/Stores/Song/RankingsStore.ts
  VocaDbWeb/Views/Shared/Partials/_MainNavigationItems.cshtml
Labels: songs, React, TODOs

#977 Feat/973 split admin permission
  VocaDbModel/Domain/Security/PermissionToken.cs
  VocaDbModel/Domain/Users/UserGroup.cs
  VocaDbModel/Service/AdminService.cs
  VocaDbWeb.Resources/App_GlobalResources/PermissionTokenNames.resx
Labels: permissions, admin
