Repository VocaDB/vocadb, pull requests merged in 2021-03, with the labels that each got.

#783 Enable CORS
  VocaDbWeb/Code/Security/AuthenticationConstants.cs
  VocaDbWeb/Code/WebApi/AuthenticatedCorsApiAttribute.cs
  VocaDbWeb/Controllers/Api/SongApiController.cs
  VocaDbWeb/Controllers/Api/UserApiController.cs
  VocaDbWeb/Startup.cs
Labels: backend, security

#798 Disable CORS for non-api controllers
  VocaDbWeb/Code/Security/AuthenticationConstants.cs
  VocaDbWeb/Controllers/Api/ActivityEntryApiController.cs
  VocaDbWeb/Controllers/Api/AdminApiController.cs
  VocaDbWeb/Controllers/Api/AlbumApiController.cs
  VocaDbWeb/Controllers/Api/ApiRootController.cs
  VocaDbWeb/Controllers/Api/ArtistApiController.cs
  VocaDbWeb/Controllers/Api/CommentApiController.cs
  VocaDbWeb/Controllers/Api/DiscussionApiController.cs
  VocaDbWeb/Controllers/Api/EntryApiController.cs
  VocaDbWeb/Controllers/Api/EntryTypesApiController.cs
  VocaDbWeb/Controllers/Api/IPRuleApiController.cs
  VocaDbWeb/Controllers/Api/MikuApiController.cs
  VocaDbWeb/Controllers/Api/PVApiController.cs
  VocaDbWeb/Controllers/Api/ReleaseEventApiController.cs
  VocaDbWeb/Controllers/Api/ReleaseEventSeriesApiController.cs
  VocaDbWeb/Controllers/Api/ResourcesApiController.cs
  VocaDbWeb/Controllers/Api/SongApiController.cs
  VocaDbWeb/Controllers/Api/SongListApiController.cs
  VocaDbWeb/Controllers/Api/TagApiController.cs
  VocaDbWeb/Controllers/Api/UserApiController.cs
  VocaDbWeb/Controllers/Api/VenueApiController.cs
  VocaDbWeb/Startup.cs
Labels: security

#816 Spotify and CDJapan Icons not showing on entries
  VocaDbWeb/wwwroot/Content/Site.css
  VocaDbWeb/wwwroot/Content/Styles/ExtLinks.less
Labels: frontend, icons

#819 "Song ratings" pop-up goes out of view when dragging over its title #425
  VocaDbWeb/wwwroot/Content/Styles/Overrides.less
Labels: frontend
